Assignment_1 For satyamk15@gmail.com

#Q1 create one variable containing following type of data

In [2]:
#1) string
a = 'Ram'
type(a)

str

In [3]:
#(ii) list
b =['Ram',34,36,45.89]
type(b)

list

In [4]:
#(iii) float
c = 45.96
type(c)

float

In [5]:
#(iv) tuple
d = ('Ganesh',34,480)
type(d)

tuple

#Q2 Data type of the given variable

In [6]:
#(i) 
var1 = ''
type(var1)

str

In [7]:
#(ii)
var2 = '[DS,ML,Python]'
type(var2)

str

In [8]:
#(iii)
var3 = ['DS','ML','Python']
type(var3)

list

In [9]:
#(iv)
var4 = 1.
type(var4)

float

#Q3 Explain the use of given operators

In [10]:
#(i) / (Used for division)
a= 10
b = 5
a/b

2.0

In [12]:
#(ii) %(gives the remainder )
a = 11
b =5
a%b

1

In [16]:
#(iii) // (floor division which gives rounds to the devision result to nearset integer)
a = 22
b = 10

a//b

2

In [17]:
#(iv) **(Exponentiation)
a = 2
b = 3
a**b

8

#Q4 List containing different data types and using for loop

In [73]:
a = ["Ram",34,True,45.95,'Ganesh',(25,96),89.45,['Shyam'],45,'Raju']
for i in a :
    print (f'Data type of {i} is {type(i)}')

Data type of Ram is <class 'str'>
Data type of 34 is <class 'int'>
Data type of True is <class 'bool'>
Data type of 45.95 is <class 'float'>
Data type of Ganesh is <class 'str'>
Data type of (25, 96) is <class 'tuple'>
Data type of 89.45 is <class 'float'>
Data type of ['Shyam'] is <class 'list'>
Data type of 45 is <class 'int'>
Data type of Raju is <class 'str'>

#Q5 using while loop finding a is divisible or not

In [41]:
a = 8931
b = 3
while a%b == 0 :
    print( f'YES , a  is Purely Divisible by b And It is {a/b} times divisible')
    #print( 'YES, {}  is PURELY DIVISIBLE by {} AND IT IS {} times divisible '.format(a,b,a/b))
    break

YES , a  is Purely Divisible by b And It is 2977.0 times divisible

Q6 using for loop to know if the element is divisibl is 3 or not

In [70]:
a =[]
for i in  range(4,29):
    a.append(i)
    
for i in a:
    if i%3 == 0:
        print(f'{i}  is divisible by 3')
    else :
        print(f'{i} is  not divisible by 3')

4 is  not divisible by 3
5 is  not divisible by 3
6  is divisible by 3
7 is  not divisible by 3
8 is  not divisible by 3
9  is divisible by 3
10 is  not divisible by 3
11 is  not divisible by 3
12  is divisible by 3
13 is  not divisible by 3
14 is  not divisible by 3
15  is divisible by 3
16 is  not divisible by 3
17 is  not divisible by 3
18  is divisible by 3
19 is  not divisible by 3
20 is  not divisible by 3
21  is divisible by 3
22 is  not divisible by 3
23 is  not divisible by 3
24  is divisible by 3
25 is  not divisible by 3
26 is  not divisible by 3
27  is divisible by 3
28 is  not divisible by 3

Q7 differencebetween Mutable and immutable.

#mutable : Data type whose value can be changed in place after they have been created.

#Immutable : Data type whose value can not be changed in place after they have been created.

In [69]:
## mutable example :
a = [1,2,3]
a.append(4)
a 
#output : [1, 2, 3, 4]
# here we have appended 4 in list 'a'.Similarly we can remove/replace/extend the list.
#so we can say list is mutable data type.

## immutable data type 
a = 'Ram'

# here a is a string data type we cant change the value of a so it is immutable.